{
  "jsxBracketSameLine": false,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "overrides": [
    {
      "files": "**/*.md",
      "options": {
        "useTabs": false
      }
    }
  ]
}
