.LoadingProcess {
  .balls {
    mask-image: url('./svg/loading-balls.svg');
  }
  .bars {
    mask-image: url('./svg/loading-bars.svg');
  }
  .bubbles {
    mask-image: url('./svg/loading-bubbles.svg');
  }
  .cubes {
    mask-image: url('./svg/loading-cubes.svg');
  }
  .cylon {
    mask-image: url('./svg/loading-cylon.svg');
  }
  .spin {
    mask-image: url('./svg/loading-spin.svg');
  }
  .spinningBubbles {
    mask-image: url('./svg/loading-spinning-bubbles.svg');
  }
  .spokes {
    mask-image: url('./svg/loading-spokes.svg');
  }
}
